smclib==1.8.7
rosmaster==1.17.4
genpy==0.6.18
rqt-console==0.4.14
rqt-py-common==0.5.5
rqt-action==0.4.11
image-geometry==1.16.2
rosboost-cfg==1.15.10
rqt-nav-view==0.5.8
angles==1.9.14
rviz==1.14.26
message-filters==1.17.4
topic-tools==1.17.4
roslint==0.12.0
roswtf==1.17.4
rqt-topic==0.4.15
rosbag==1.17.4
rqt-publisher==0.4.12
tf2-py==0.7.10
rqt-plot==0.4.16
rosunit==1.15.10
controller-manager==0.20.0
smach==2.5.3
rqt-rviz==0.7.2
bondpy==1.8.7
gennodejs==2.0.2
rqt-image-view==0.4.19
tf2-kdl==0.7.10
rqt-runtime-monitor==0.5.10
joint-state-publisher==1.15.2
rosparam==1.17.4
tf-conversions==1.13.4
rqt-bag-plugins==0.5.3
rqt-py-console==0.4.12
dynamic-reconfigure==1.7.6
rqt-launch==0.4.10
rqt-top==0.4.11
sensor-msgs==1.13.2
tf2-geometry-msgs==0.7.10
rosmsg==1.17.4
python-qt-binding==0.4.6
resource-retriever==1.12.10
laser-geometry==1.6.8
roslaunch==1.17.4
rqt-gui-py==0.5.5
rqt-dep==0.4.14
rospy==1.17.4
rqt-moveit==0.5.13
cv-bridge==1.16.2
genlisp==0.4.18
rqt-robot-dashboard==0.5.8
rqt-srv==0.4.11
rqt-shell==0.4.13
rosmake==1.15.10
rqt-service-caller==0.4.12
rqt-logger-level==0.4.13
geneus==3.0.0
qt-gui-cpp==0.4.5
rqt-gui==0.5.5
rqt-tf-tree==0.6.5
actionlib==1.14.3
rosnode==1.17.4
gencpp==0.7.2
gazebo_plugins==2.9.3
rqt-robot-steering==0.5.14
diagnostic-updater==1.12.1
smach-ros==2.5.3
qt-gui-py-common==0.4.5
rqt-robot-monitor==0.5.15
genmsg==0.6.1
rostest==1.17.4
diagnostic-analysis==1.12.1
controller-manager-msgs==0.20.0
rqt-msg==0.4.12
rostopic==1.17.4
gazebo_ros==2.9.3
tf==1.13.4
roslz4==1.17.4
rqt-pose-view==0.5.13
qt-gui==0.4.5
rqt-web==0.4.11
tf2-ros==0.7.10
qt-dotgraph==0.4.5
diagnostic-common-diagnostics==1.12.1
rosclean==1.15.10
rosgraph==1.17.4
rosservice==1.17.4
camera-calibration==1.17.0
rqt-bag==0.5.3
camera-calibration-parsers==1.12.1
xacro==1.14.20
rqt-graph==0.4.16
rqt-reconfigure==0.5.7
joint-state-publisher-gui==1.15.2
roslib==1.15.10
roscreate==1.15.10
interactive-markers==1.12.2
catkin==0.8.12
python-dateutil==2.9.0.post0
wheel==0.44.0
tensorboard-data-server==0.7.2
pip==24.2
nvidia-nvjitlink-cu12==12.9.86
nvidia-nccl-cu12==2.20.5
grpcio==1.70.0
nvidia-cuda-runtime-cu12==12.1.105
cycler==0.12.1
torchvision==0.19.1
sentry-sdk==2.59.0
cryptography==47.0.0
MarkupSafe==2.1.5
packaging==26.2
kiwisolver==1.4.7
smmap==5.0.3
torch==2.4.1
urllib3==2.2.3
oauthlib==3.3.1
numpy==1.24.4
eval_type_backport==0.3.1
cffi==1.17.1
click==8.1.8
nvidia-cufft-cu12==11.0.2.54
requests-oauthlib==2.0.0
nvidia-cudnn-cu12==9.1.0.70
charset-normalizer==3.4.7
nvidia-cublas-cu12==12.1.3.1
certifi==2026.4.22
Markdown==3.7
wandb==0.24.2
networkx==3.1
idna==3.13
nvidia-cuda-cupti-cu12==12.1.105
triton==3.0.0
nvidia-cusparse-cu12==12.1.0.106
pyasn1_modules==0.4.2
contourpy==1.1.1
protobuf==5.29.6
zipp==3.20.2
gitdb==4.0.12
importlib_metadata==8.5.0
sympy==1.13.3
fonttools==4.57.0
setuptools==75.1.0
pillow==10.4.0
scipy==1.10.1
filelock==3.16.1
annotated-types==0.7.0
Jinja2==3.1.6
requests==2.32.4
absl-py==2.3.1
ninja==1.13.0
pycparser==2.23
six==1.17.0
google-auth-oauthlib==1.0.0
pydantic_core==2.27.2
google-auth==2.50.0
tensorboard==2.14.0
Werkzeug==3.0.6
platformdirs==4.3.6
matplotlib==3.7.5
imageio==2.35.1
pyasn1==0.6.3
nvidia-cuda-nvrtc-cu12==12.1.105
typing_extensions==4.13.2
GitPython==3.1.50
nvidia-curand-cu12==10.3.2.106
nvidia-nvtx-cu12==12.1.105
PyYAML==6.0.3
mpmath==1.3.0
pydantic==2.10.6
fsspec==2025.3.0
pyparsing==3.1.4
importlib_resources==6.4.5
nvidia-cusolver-cu12==11.4.5.107
rsl_rl==1.0.2
isaacgym==1.0rc4
legged_gym==1.0.0
backports.tarfile==1.2.0
packaging==24.1
more-itertools==10.3.0
jaraco.text==3.12.1
inflect==7.3.1
zipp==3.19.2
jaraco.functools==4.0.1
platformdirs==4.2.2
jaraco.context==5.3.0
importlib_resources==6.4.0
typing_extensions==4.12.2
autocommand==2.2.2
jaraco.collections==5.1.0
tomli==2.0.1
typeguard==4.3.0
wheel==0.43.0
importlib_metadata==8.0.0
